{% extends 'homeapp/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load avatar_tags %}
{% block extra_scripts %}
<script src="{% static 'homeapp/js/infinite.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    let bottomSentinel = document.querySelector("#bottom-sentinel");
    let scrollElement = document.querySelector("#scroll-element");
    let baseUrl = "{% url 'people' %}";
    attachInfiniteScroll(bottomSentinel, scrollElement, baseUrl);
  });
</script>
{% endblock extra_scripts%}
{% block content %}

<div class="row px-2 bg-light bg-gradient g-0">
  <!-- Showing the items -->
  <div class="col-sm-3 order-sm-1 border-end p-2">
    <div class="card ">
      <div class="card-header">People</div>
      <div class="card-body">
        <h5 class="card-title">Coming Soon!</h5>
        <p class="card-text">Place your stuff here </p>
      </div>
    </div>
  </div>
  <!-- Column for put item in bucket -->
  <div class="col-sm-3 order-sm-3  px-2">    
    
  </div>

  <!-- Column for posts -->
  <div class="col-sm-6 border-end order-sm-2  ">

    <div class="row " id='scroll-element'>
      {% include 'homeapp/people/persons.html'  with users=users %}
    </div>        
    <div id="bottom-sentinel">     
    </div>
  </div>

</div>


{% endblock content %}


