{% load static %}
{% load avatar_tags%}

{% for user in users %}
<div class="col-6 col-md-4">
    <div class="card h-80 p-2">
        {% if user|has_avatar %}
        {% avatar user 200 class="img-fluid img-responsive" id="user_avatar" %}
        {% else %}
        <img src="{% static 'homeapp/images/defaultavatar.png' %}" alt="" class="img-fluid img-responsive" height="200px">
        {% endif %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item g-0">An item</li>
            <li class="list-group-item g-0">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
        </ul>
    </div>
</div>
{% endfor %}
