{% load avatar_tags %}
{% load static %}
{% load humanize %}

{% for article in articles %}
<div class="col-12 my-2">
  <div class="card h-100 p-2">
    <div class="card-body">
      <div class="row g-0">
        <div class="col-10 pt-2">
          <p class="card-text d-inline fs-5 fw-bolder ">{{article.heading}} </p>
          <span class="card-text"><small class="text-muted">{{article.date|naturaltime}}</small></span>
        </div>
        <div class="col-2 text-end">
          <h5 class="card-title"></h5>
          <div id='{{article.user.id}}' onclick="getuserinfo(this)">
            <div data-bs-toggle="modal" data-bs-target="#showuserinfo" id="modbtn">
              {% if article.user|has_avatar %}
              {% avatar article.user 35 class="img-fluid rounded-circle img-responsive" id="user_avatar" %}
              {% else %}
              <img src="{% static 'homeapp/images/defaultavatar.png' %}" alt="" class="img-responsive" height="35px">
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <p>{{article.theory|truncatechars:150}}</p>
      <a href="{% url 'fullarticle' article.id %}" >Take me to full article</a>
    </div>
  </div>
</div>
{% endfor %}