{% extends 'homeapp/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row flex-column-reverse flex-sm-row g-0">
    <div class="col-sm-9 border-end">
        {% for item in items %}
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-sm-3">
              <div style="height: 250px">
                <img src="{{item.image.url}}" style='height: 100%; width: 100%;'>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="card-body">
                <p class="card-text">{{item.notes}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque voluptatem sed saepe quia velit sit ex! Aliquam sit eum ullam necessitatibus aliquid libero voluptatibus, quasi velit eaque earum exercitationem?.</p>
                <p class="card-text"><small class="text-muted">{{item.date}}</small></p>
              </div>
            </div>
          </div>
        </div>
          
          
        {% endfor %}
    </div>
    <div class="col-sm-3 ">
            <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>Create Bucket </span></button>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Put your Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="" enctype='multipart/form-data'>
            {% csrf_token %}
            {% render_field form.image  class="form-control" %}
            {% render_field form.notes rows="3" placeholder='Provide Description' class="form-control" %}            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}