{% extends 'homeapp/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load avatar_tags %}
{% block content %}
<div class="row flex-column-reverse flex-sm-row g-0 border">
  <!-- Showing the items -->
  <div class="col-sm-9 border-end pt-2">
    <div class="row row-cols-2 row-cols-lg-4 row-cols-sm-3 infinite-container g-4">
        {% for item in items %}
        <div class="col">
          <div class=" infinite-item  card h-100 p-2">
            <img src="{{item.image.url}}" class="card-img-top" style="height: 200px;">
            <div class="card-body">
              <div class="row g-0">
                <div class="col pt-2">
                  <p class="card-text d-inline ">{{item.notes}} </p>
                </div>
                <div class="col text-end">
                  <h5 class="card-title"></h5>
                  <div id='{{item.user.id}}' onclick="getuserinfo(this)">
                    <div data-bs-toggle="modal" data-bs-target="#showuserinfo" id="modbtn">
                      {% if item.user|has_avatar %}
                      {% avatar item.user 35 class="img-fluid rounded-circle img-responsive" id="user_avatar" %}
                      {% else %}
                      <img src="{% static 'homeapp/images/defaultavatar.png' %}" alt="" class="img-responsive"
                        height="35px">
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <p class="card-text"><small class="text-muted fs-6">Posted: {{item.date}}</small></p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
        {% if items.has_next %}
        <a class="d-block infinite-more-link text-center fs-6 text-decoration-none text-dark border m-2" href="?page={{ items.next_page_number }}" style="background-color: rgb(247, 247, 247);">
          Load More Content
        </a>
        {% endif %}
        <div class="loading" style="display: none;">
          Loading...
        </div>




  </div>

  <!-- Column for put item in bucket -->
  <div class="col-sm-3 p-2">
    <div class="card text-dark  bg-light mb-3">
      <div class="card-header">Bucket Item</div>
      <div class="card-body">
        <h5 class="card-title">Coming Soon!</h5>
        <p class="card-text">Place your stuff here </p>
      </div>
    </div>
    <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>Put in Bucket </span></button>
  </div>
</div>


<!-- Modal for Put item-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Put your Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="" enctype='multipart/form-data'>
          {% csrf_token %}
          {% render_field form.image class="form-control" %}
          {% render_field form.notes rows="3" placeholder='Provide Description' class="form-control" %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Model for show user -->

<div class="modal fade " id="showuserinfo" tabindex="-1" aria-labelledby="showuserinfo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showuserinfo">Owner's Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Card Starts here -->
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col" id="myinfo">
              <!-- Image is present here -->
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title"><span id="username"></span></h5>
                <p class="card-text"><span id="anchor"></span></p>
                <p class="card-text" id="last-login"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card ends here -->
      </div>

    </div>
  </div>
</div>
{% endblock content %}