{% extends 'homeapp/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load avatar_tags %}
{% block content %}
<div class="row flex-column-reverse flex-sm-row g-0 border">
  <div class="col-sm-9 border-end pt-2">

    <div class="row row-cols-2 row-cols-lg-4 row-cols-sm-3  g-4">
      {% for item in items %}
      <div class="col">
        <div class="card h-100 p-2">
          <img src="{{item.image.url}}" class="card-img-top" style="height: 200px;">
          <div class="card-body">
            <p class="card-text">{{item.notes}} </p>
            
            <h5 class="card-title">
              <!-- <a href="{% url 'uprofile' item.user.id %}" class="py-2 ms-auto" data-toggle="tooltip" title="{{item.user.username}}">
                {% if item.user|has_avatar %}
                {% avatar item.user 35 class="img-fluid rounded-circle img-responsive" id="user_avatar" %}
                {% else %}
                <img src="{% static 'homeapp/images/defaultavatar.jpg' %}" alt="" class="img-circle img-responsive"
                height="35px">
                {% endif %}
              </a></h5> -->
              <div id='{{item.user.id}}' onclick="getuserinfo(this)">
                <span data-bs-toggle="modal" data-bs-target="#showuserinfo" id="modbtn">
                  {% avatar item.user 35 class="img-fluid rounded-circle img-responsive" id="user_avatar" %}
                </span>
              </div>
              <p class="card-text"><small class="text-muted">{{item.date}}</small></p>
             
              

            
       </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-3 p-2">
    <div class="card text-dark  bg-light mb-3">
      <div class="card-header">Bucket Item</div>
      <div class="card-body">
        <h5 class="card-title">Coming Soon!</h5>
        <p class="card-text">Place your stuff here </p>
      </div>
    </div>
    <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>Put in Bucket </span></button>
  </div>
</div>


<!-- Modal for Put item-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Put your Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="" enctype='multipart/form-data'>
          {% csrf_token %}
          {% render_field form.image class="form-control" %}
          {% render_field form.notes rows="3" placeholder='Provide Description' class="form-control" %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Model for show user -->


<!-- Modal -->
<div class="modal fade" id="showuserinfo" tabindex="-1" aria-labelledby="showuserinfo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showuserinfo"><span id="username">Username</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id='myinfo'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}