<!-- Footer -->
<footer class=" border-top">
    <div class="row g-0">
      <div class="col-sm-6 text-center text-md-start p-2">
        <a href="" class="me-4 text-reset text-decoration-none">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset text-decoration-none">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset text-decoration-none">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset text-decoration-none">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset text-decoration-none">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset text-decoration-none">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <div class="col-sm-6 p-2">
        <div class="d-flex justify-content-evenly">
          <div class="foot-item">Contact</div>
          <div class="foot-item">About</div>
          <div class="foot-item">Affiliates</div>
          <div class="foot-item">Join</div>
          <div class="foot-item">Terms</div>
          <div class="foot-item">Help</div>
          
        </div>
      </div>
    </div>
 
</footer>
<!-- Footer -->