{% load avatar_tags %}
{% load static %}
{% for item in items %}

<div class="col-12 my-2">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{item.image.url}}" class="img-fluid rounded-start" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="row g-0">
            <div class="col pt-2">
              <p class="card-text d-inline fs-5 fw-bolder ">{{item.notes}} </p>
            </div>
            <div class="col text-end">
              <h5 class="card-title"></h5>
              <div id='{{item.user.id}}' onclick="getuserinfo(this)">
                <div data-bs-toggle="modal" data-bs-target="#showuserinfo" id="modbtn">
                  {% if item.user|has_avatar %}
                  {% avatar item.user 35 class="img-fluid rounded-circle img-responsive" id="user_avatar" %}
                  {% else %}
                  <img src="{% static 'homeapp/images/defaultavatar.png' %}" alt="" class="img-responsive" height="35px">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <p class="card-text"><small class="text-muted fs-6">Posted: {{item.date}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}