<div id="mySidenav" class="sidenav fixed-top">
  <a onclick="window.history.back()" id="backarrow"> <img src="https://img.icons8.com/windows/24/000000/long-arrow-left.png" />
    <a href="{% url 'home' %}" id="globe"><img src="https://img.icons8.com/material-outlined/24/000000/home.png" /></a>
    <a href="{% url 'bucket' %}" id="bucket"><img
        src="https://img.icons8.com/fluent-systems-regular/24/000000/shopping-bag-full.png" /></a>
    <a href="{% url 'people' %}" id="people"><img
        src="https://img.icons8.com/material-outlined/24/000000/connected-people.png" /></a>
  </a>
</div>