{% extends "logsys/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<section >
    <div class="row g-0 d-flex justify-content-center">
        <div class="d-flex align-items-center text-center" style="height: 82vh;width: 320px;">
            {% if messages %}
            {% for msg in messages %}
            {{msg}}
            {% endfor %}
            {% endif %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            {{error}}
            {% endfor %}
            {% endif %}
            <h2 class="text-center fs-1 fw-light my-2"></h2>
                    <form action="" method="post" autocomplete="on" class="my-2">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-floating mb-3">
                            {{field}}{{field.errors|striptags}}
                            {{field.label_tag}}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-dark" style="width: 200px;">Login </button><br><br>                       
                        <a href="{% url 'password_reset' %}" class="link text-decoration-none">Forgot password?</a>
                        <a href="{% url 'signup' %}" class="link text-decoration-none" >Create New Account </a>                   
                        
                        
                    </form>
                    <!-- Info page -->
        </div>
    
    </div>
</section>


{% endblock content %}