{% extends "logsys/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<section style="height: 82vh;">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="row g-0">
                <div class="col-sm-6 border-end"> </div>
                <div class="col-sm-6">
                    {% if messages %}
                    {% for msg in messages %}
                    {{msg}}
                    {% endfor %}
                    {% endif %}
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    {{error}}
                    {% endfor %}
                    {% endif %}
                    <div class="row g-0">
                        <div class="col-md-6 offset-md-2">
                            <h2 class="text-center fs-1 fw-light my-2">Know the Rope's</h2>
                            <form action="" method="post" autocomplete="on" class="my-2">
                                {% csrf_token %}
                                {% for field in form %}
                                {{field}}{{field.errors|striptags}} <br>
                                {% endfor %}
                                <div class="row d-flex g-0">
                                    <button type="submit" class="btn btn-outline-dark fw-bold btn-lg">Login </button>
                                </div>
                                <div class="row d-flex g-0 text-center m-2 p-2">
                                    <a href="{% url 'password_reset' %}" class="link text-decoration-none">Forgot password?</a>
                                </div>
                                <div class="row g-0">
                                    <div class="col-5">
                                        <hr>
                                    </div>
                                    <div class="col-2 text-center">or</div>
                                    <div class="col-5">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row text-center mt-2 g-0">
                                    <div class="col">
                                        <a href="{% url 'signup' %}" class="btn btn-success fw-bold">Create New Account </a>
                                    </div>
                                </div>
                            </form>
                            <!-- Info page -->
                            <div class="row text-center mt-5 g-0 ">
                                <div class="col">
                                    <a type="button" href="#" class="text-muted text-decoration-none"><i
                                            class="fas fa-circle fa-xs"></i> Join</a>
                                    <a type="button" href="#" class="text-muted text-decoration-none"><i
                                            class="fas fa-circle fa-xs"></i> About</a>
                                    <a type="button" href="#" class="text-muted text-decoration-none"><i
                                            class="fas fa-circle fa-xs"></i> Help</a>
                                </div>
                                <div class="mt-4">
                                    <p class="text-muted">Rayster Inc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>


{% endblock content %}