{% extends "logsys/base.html" %}
{% load static %}
{% load avatar_tags %}
{% block title %}Profile{% endblock title %}
{% block csslink %}
    <link rel="stylesheet" href="{% static 'logsys/css/logsysstyle.css' %}">
{% endblock %}
{% block content %}
<!-- New Profile Page -->
{% if messages %}
{% for msg in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{msg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="row g-0">
    <!-- Personal info -->
    <div class="col-md-3  border-end  ">      
        <div class="row g-0">
            <div class="col text-center">
                <div>
                    {% if user|has_avatar %}
                    {% avatar user 200 class="img-fluid rounded img-responsive shadow p-3 mx-auto bg-body rounded " id="user_avatar" %}
                    {% else %}
                    <img src="{% static 'homeapp/images/defaultavatar.jpg' %}" alt="" class="img-circle img-responsive" height="200px">
                    {% endif %}
                </div>
                <a type="button" class="btn btn-light shadow-sm p-1 my-2 bg-body rounded" href="{% url 'avatar_change' %}">Change Avatar</a>
                <button class="btn btn-light shadow-sm p-1 my-2 bg-body rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Profile</button>                    
                <h5 class="pt-3 ">Nickname: {{request.user.username}}</h5>
                    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: {{request.user.email|default:"Didn't made my mind"}}</li>
                    <li class="list-group-item">Interest: {{request.user.profile.interest|default:"Didn't made my mind"}}</li>
                    <li class="list-group-item">Habit: {{request.user.profile.habit|default:"Didn't made my mind"}}</li>
                    <li class="list-group-item">Wants: {{request.user.profile.want|default:"Didn't made my mind"}}</li>
                    <li class="list-group-item">Joined: {{request.user.date_joined|date:"D,d M, Y"}}</li>
                  </ul>
                
            </div>
        </div>
      </div>
      <!-- personel info completed -->
    
</div>
<!-- New Profile page end -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{field.label_tag}}{{field}}{{field.errors|striptags}}
                {% endfor %}
                {% for field in profile_form %}
                    {{field.label_tag}}{{field}}{{field.errors|striptags}}
                {% endfor %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
            </form>
        </div>
        
      </div>
    </div>
  </div>




{% endblock content %}