{% extends "logsys/base.html" %}
{% load static %}
{% load avatar_tags %}
{% block title %}Profile{% endblock title %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'logsys/css/logsysstyle.css' %}">
{% endblock %}
{% block content %}
<!-- New Profile Page -->

<div class="row mt-2">
  <!-- Personal info -->

  <div class="col-md-3  border-end  ">
    <div class="row g-0">
      <div class="col text-center">
        <div>
          {% if user|has_avatar %}
          {% avatar user 200 class="img-fluid rounded img-responsive shadow p-3 mx-auto bg-body rounded " id="user_avatar" %}
          {% else %}
          <img src="{% static 'homeapp/images/defaultavatar.png' %}" alt="" class="img-circle img-responsive"
            height="200px">
          {% endif %}
        </div>

        <h5 class="pt-3 ">Nickname: {{user.username}}</h5>
        <span class="pt-3 fs-5 ">Reputation: {{request.user.profile.rep}}</span>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Interest: {{user.profile.interest|default:"Didn't made my mind"}}</li>
          <li class="list-group-item">Habit: {{user.profile.habit|default:"Didn't made my mind"}}</li>
          <li class="list-group-item">Wants: {{user.profile.want|default:"Didn't made my mind"}}</li>
          <li class="list-group-item">Joined: {{user.date_joined|date:"D,d M, Y"}}</li>
        </ul>

      </div>

    </div>
  </div>
  <!-- personel info completed -->

  <div class="col-sm-9 border-end p-2">
    <h1 class="fs-4">#{{user.username|capfirst}}'s' Activity</h1>
    <hr>
    <!-- For items -->
    <div class="fs-2 text-center">Inventory's</div> <br>
    <div class="row row-cols-2 row-cols-lg-4 row-cols-sm-3  g-4">
      {% for item in items %}
      <div class="col">
        <div class="card h-100 p-2">
          <img src="{{item.image.url}}" class="card-img-top" style="height: 200px;">
          <div class="card-body">
            <p class="card-text d-inline ">{{item.notes}} </p>
            <div class="d-flex align-content-end flex-wrap">
              <p class="card-text"><small class="text-muted fs-6">Posted: {{item.date}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- For posts -->
    <hr>
    <div class="fs-2 text-center">My Post's</div> <br>
    <div class="row row-cols-2 row-cols-lg-4 row-cols-sm-3  g-4">
      {% for post in posts %}
      <div class="col">
        <div class="card h-100 p-2">
          <img src="{{post.image.url}}" class="card-img-top" style="height: 200px;">
          <div class="card-body">
            <p class="card-text d-inline ">{{post.heading}} </p>
            <div class="d-flex align-content-end flex-wrap">
              <p>{{post.theory|truncatechars:20}}</p>
              <a href="{% url 'fullarticle' post.id %}">Take me to full article</a>
              <p class="card-text"><small class="text-muted fs-6">Posted: {{post.date}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  







</div>
<!-- New Profile page end -->




{% endblock content %}