{% extends "logsys/base.html" %}
{% load static %}
{% load avatar_tags %}
{% block title %}Profile{% endblock title %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'logsys/css/logsysstyle.css' %}">
{% endblock %}
{% block content %}
<!-- New Profile Page -->

<div class="row mt-2">
  <!-- Personal info -->

  <div class="col-md-3  border-end  ">
    <div class="row g-0">
      <div class="col text-center">
        <div>
          {% if user|has_avatar %}
          {% avatar user 200 class="img-fluid rounded img-responsive shadow p-3 mx-auto bg-body rounded " id="user_avatar" %}
          {% else %}
          <img src="{% static 'homeapp/images/defaultavatar.jpg' %}" alt="" class="img-circle img-responsive"
            height="200px">
          {% endif %}
        </div>

        <h5 class="pt-3 ">Nickname: {{request.user.username}}</h5>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Interest: {{request.user.profile.interest|default:"Didn't made my mind"}}</li>
          <li class="list-group-item">Habit: {{request.user.profile.habit|default:"Didn't made my mind"}}</li>
          <li class="list-group-item">Wants: {{request.user.profile.want|default:"Didn't made my mind"}}</li>
          <li class="list-group-item">Joined: {{request.user.date_joined|date:"D,d M, Y"}}</li>
        </ul>

      </div>

    </div>
  </div>
  <!-- personel info completed -->

  <!-- Habit, Skills and Achievement Section -->

  <div class="col-md-9">
    <h1>#Coming Soon</h1>
  </div>





</div>
<!-- New Profile page end -->




{% endblock content %}